<%= form_with(model: microspost, local: true) do |form| %>
  <% if microspost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(microspost.errors.count, "error") %> prohibited this microspost from being saved:</h2>

      <ul>
      <% microspost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :conent %>
    <%= form.text_area :conent, id: :microspost_conent %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :microspost_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
