<p id="notice"><%= notice %></p>

<h1>Microsposts</h1>

<table>
  <thead>
    <tr>
      <th>Conent</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microsposts.each do |microspost| %>
      <tr>
        <td><%= microspost.conent %></td>
        <td><%= microspost.user_id %></td>
        <td><%= link_to 'Show', microspost %></td>
        <td><%= link_to 'Edit', edit_microspost_path(microspost) %></td>
        <td><%= link_to 'Destroy', microspost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Microspost', new_microspost_path %>
