<p id="notice"><%= notice %></p>

<p>
  <strong>Conent:</strong>
  <%= @microspost.conent %>
</p>

<p>
  <strong>User:</strong>
  <%= @microspost.user_id %>
</p>

<%= link_to 'Edit', edit_microspost_path(@microspost) %> |
<%= link_to 'Back', microsposts_path %>
